body{
    height: 150vh;
}


@media (max-width: 768px) {
    .mobile-view {
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows: 1fr 1fr;
        flex-direction: column;
        /* background-color: red; */
        grid-gap: 10px;
        text-align: center;
        justify-content: start;
        align-items: center;
    }
    button{
        margin-bottom: 5px;
        width:200px;
        height: 50px;
    }
}